@inherits LayoutComponentBase

<div class="main">
    <div class="navbar navbar-expand-sm navbar-light border-bottom">
        <a href="/" class="navbar-brand text-primary ">Subnet Computer</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>